<html>
<head>
    <title>About</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
<body>
<div>
      <h5>Developer</h5>
      <p>Tarp Team</p>
      <p>Under Faculty: Prof. Bhulakshmi Bonthu </p>
      <div style="font-weight: 300; font-size:larger">
        <a style="color: black;" href="https://www.linkedin.com/in/venkat-ramadugula/"><i class="fa fa-linkedin-square"></i></a>&nbsp;
        <a style="color: black;" href="https://www.instagram.com/sai_venkat17/"><i class="fa fa-instagram"></i></a>&nbsp;
        <a style="color: black;" href="https://github.com/sai-venkat17"><i class="fa fa-github"></i></a>&nbsp;
      </div>
    </div>
  </div>
  </body>
  </html>